[submodule "RSL/Dependence/eigen"]
	path = RSL/Dependence/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "RSL/Dependence/CMSIS-DSP"]
	path = RSL/Dependence/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
